@font-face {
  font-family: "Astonpoliz";
  src: url("../../components/fonts/Astonpoliz.ttf") format("truetype");
}
.container {
  padding: 0 2.5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .box {
    padding: 0 5%;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .box {
    padding: 0 6%;
  }
  .col-ex-lg-1 {
    width: 8.33%;
  }
  .col-ex-lg-2 {
    width: 16.66%;
  }
  .col-ex-lg-3 {
    width: 25%;
  }
  .col-ex-lg-4 {
    width: 33.33%;
  }
  .col-ex-lg-5 {
    width: 41.66%;
  }
  .col-ex-lg-6 {
    width: 50%;
  }
  .col-ex-lg-7 {
    width: 58.33%;
  }
  .col-ex-lg-8 {
    width: 66.66%;
  }
  .col-ex-lg-9 {
    width: 75%;
  }
  .col-ex-lg-10 {
    width: 83.33%;
  }
  .col-ex-lg-11 {
    width: 91.66%;
  }
  .col-ex-lg-12 {
    width: 100%;
  }
}
#navbar {
  height: 60px;
  color: white;
  background: #242424;
  z-index: 10;
}
#navbar .row {
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: inherit;
  padding: 0 1.3rem;
}
#navbar .row div {
  display: flex;
  align-items: center;
}
#navbar .navbar__logo {
  font-size: 3.2rem;
  display: inline-block;
  margin-left: 2rem;
}
#navbar .navbar__logo span {
  color: #2a588a;
}
#navbar i {
  font-size: 3.2rem;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  #navbar {
    display: none;
  }
}
#aside-menu {
  width: 220px;
  background: black;
  height: calc(100vh - 1rem);
  font-size: 1.9rem;
  font-family: sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#aside-menu::-webkit-scrollbar {
  width: 8px;
}
#aside-menu::-webkit-scrollbar-track {
  background: none;
}
#aside-menu::-webkit-scrollbar-thumb {
  background: #3e3e3e;
}
#aside-menu::-webkit-scrollbar-thumb:hover {
  background: #575757;
}
#aside-menu .aside-menu__links .aside-menu__item a {
  color: #696969;
  text-decoration: none;
  display: block;
  padding: 1.5rem 1.3rem;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  transition: 0.2s;
}
#aside-menu .aside-menu__links .aside-menu__item a i {
  margin-right: 0.8rem;
}
#aside-menu .aside-menu__links .aside-menu__item a:hover {
  background-color: rgba(30, 63, 99, 0.3);
}
#aside-menu .aside-menu__links .aside-menu__separator {
  color: #696969;
  text-decoration: none;
  display: block;
  padding: 1.5rem 1.3rem;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  color: white !important;
  padding-top: 4rem;
  font-family: "Astonpoliz", sans-serif;
  color: #2a588a;
  font-size: 2.3rem;
  cursor: initial;
}
#aside-menu .aside-menu__links .aside-menu__separator i {
  margin-right: 0.8rem;
}
#aside-menu #aside-menu__log-in {
  font-size: 1.9rem;
  margin: 3rem 0.2rem 1rem 1rem;
  padding: 1.4rem 3.5rem;
  display: block;
  font-family: "Astonpoliz", sans-serif;
  background: #1e3f63;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

#aside-menu__behind {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #717171;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: none;
  transition: opacity 0.9s;
  z-index: 9;
}

@media only screen and (max-width: 769px) {
  #aside-menu {
    height: calc(100vh - 60px - 1rem);
    margin-left: -220px;
    transition: 0.2s margin;
    transition-timing-function: ease-in-out;
    position: relative;
    z-index: 10;
  }
  .active-aside-menu {
    margin-left: 0 !important;
  }
  .active-aside-menu-behind {
    display: block !important;
    transition: opacity 0.9s;
    opacity: 0.3 !important;
  }
}
.active-aside-menu-item a {
  color: #2a588a !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::selection {
  background: #30649e;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Astonpoliz", sans-serif;
  background: linear-gradient(to bottom, #1e3f63, black);
  color: white;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  min-height: 450px;
  font-size: 2rem;
  scroll-behavior: smooth;
}

.active-item {
  outline: none;
}/*# sourceMappingURL=main.css.map */