@import 'partials/variables';
@import 'partials/typography';
@import 'partials/functions-mixins';
@import 'partials/assets';
@import 'partials/navbar';
@import 'partials/resets';


body{
    font-family: "Astonpoliz";
    font-size: 62.5%;
    background: $body-bg-color;
    color: white;
    height: 100vh;
    overflow-x: hidden;
}

.active-item{
    outline: none;
}