@import 'partials/variables';
@import 'partials/typography';
@import 'partials/functions-mixins';
@import 'partials/resets';
@import 'partials/assets';
@import 'partials/navbar';
@import 'partials/aside-menu';
@import 'partials/loader-section';
@import 'partials/toolbar';

:root{
    font-size: 62.5%;
}

body{
    font-family: $main-font-family;
    background: $body-bg-color;
    color: white;
    overflow-x: hidden;
    position: relative;
    min-height: 450px;
    font-size: 2rem;
  
    /* Track */
    &::-webkit-scrollbar-track {
        background: none; 
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $aside-scrollbar-bg-color; 
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: lighten($aside-scrollbar-bg-color, 10%); 
    }
}

.active-item{
    outline: none;
}