#aside-menu{
    width: $aside-width;
    background: $aside-bg-color;
    height: calc(100vh - $aside-padding-top);
    font-size: $aside-font-size;
    font-family: $second-font-family;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: $aside-padding-top;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;

    /* width */
    &::-webkit-scrollbar {
        width: 8px;
    }    
    /* Track */
    &::-webkit-scrollbar-track {
        background: none; 
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $aside-scrollbar-bg-color; 
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: lighten($aside-scrollbar-bg-color, 10%); 
    }

    .aside-menu__links{

        .aside-menu__item{
            // margin-bottom: 1rem;
            a{
                @include aside-item();
                transition: $transition;

                &:hover{
                    background-color: $text-hover-color;
                }
            }
        }

        .aside-menu__separator{
            @include aside-item();
            color: white !important;
            padding-top: 4rem;
            font-family: $main-font-family;
            color: $aside-separator-color;
            font-size: $aside-separator-font-size;
            cursor: initial;
        }
    }

    #aside-menu__log-in{
        font-size: $aside-font-size;
        margin: 3rem .2rem 1rem 1rem; 
        @include button();
    }
}

#aside-menu__behind{
    position: fixed;
    width: 100vw;
    height: calc(100vh - $nav-height);
    background-color: $aside-behind-bg-color;
    top: $nav-height;
    left: 0;
    opacity: 0;
    display: none;
    transition: opacity calc($transition + .7s);
    z-index: $aside-behind-zindex;
}



@media only screen and (max-width: 769px){

    #aside-menu{
        height: calc(100vh - $nav-height - $aside-padding-top);
        left: -$aside-width;
        transition: $transition left;
        transition-timing-function: ease-in-out;
        z-index: $aside-zindex;
    }
    
    .active-aside-menu{
        left: 0 !important;
    }
    .active-aside-menu-behind{
        display: block !important;
        transition: opacity calc($transition + .7s);
        opacity: .3 !important;
    }
}

.active-aside-menu-item{
    a{
        color: $aside-separator-color !important;
    }
}