@mixin aside-item(){
    color: $desactivated-text;
    text-decoration: none;
    display: block;
    padding: 1.5rem 1.3rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;

    i{
        margin-right: .8rem;
    }
}

@mixin button(){
    padding: 1.4rem 3.5rem;
    display: block;
    font-family: $main-font-family;
    background: $main-color;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

@mixin input-range(){
    & {
        -webkit-appearance: none;
        height: 8px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        transition: $transition;
        transition: opacity .2s;
    }
      
    &:hover {
        opacity: 1;
    }
      
    &::-webkit-slider-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $aside-separator-color;
        cursor: pointer;
    }
      
    &::-moz-range-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $aside-separator-color;
        cursor: pointer;
    }
}