#navbar{
    height: $nav-height;
    color: white;
    background: $bg-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $navbar-zindex;

    .row{
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        height: inherit;
        padding: 0 1.3rem;

        div{
            display: flex;
            align-items: center;
        }
    }

    .navbar__logo{
        font-size: $nav-logo-font-size;
        display: inline-block;
        margin-left: 2rem;

        span{color: $aside-separator-color}
    }

    i{
        font-size: $icon-font-size;
        cursor: pointer;
    }
}

@media only screen and (min-width: 769px){
    #navbar{
        display: none;
    }
}