#toolbar{
    width: 100%;
    height: $toolbar-height;
    background: $bg-color;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: $toolbar-zindex;

    .row{height: 100%;}
    .row > div{ //select all the columns
        padding: 1rem;
        height: 100%;
        // border: 1px dashed royalblue;
    }

    i{
        transition: $transition;
        cursor: pointer;
        font-size: $aside-font-size;
        &:hover{
            color: $aside-separator-color;
        }
    }

    #toolbar__music-thumb{
        display: flex;
        align-items: center;
        justify-content: center;

        div{
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        img{height: 100%;}
    }

    #toolbar__music-name{
        padding: .7rem;
        font-weight: 400;
        h4{
            font-size: $aside-font-size;
            margin-bottom: 1rem;
        }

        h5{
            color: $desactivated-text;
            font-family: $second-font-family;
        }
    }

    #toolbar__playback-controls{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 1.3rem;

        #toolbar__playback-buttons{
            margin-bottom: 1.3rem;

            & > *{
                padding: 1rem;
                padding-bottom: .5rem;
            }
            
            #play-stop{
                font-size: calc($aside-font-size + .6rem);
            }
        }

        input{
            width: 100%;
            @include input-range();
        }
    }

    #toolbar__settings{
        padding-bottom: 1.3rem;
        
        .row{
            align-items: center;
            justify-content: center;

            div{
                border: none;
                height: fit-content;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: 0;
                
                input{
                    margin:0 1rem;
                    margin-bottom: .3rem;
                    width: 70%;
                    @include input-range();
                }
            }
    
            i{
                outline: none;
            }
        }
    }
}