#toolbar{
    width: 100%;
    height: $toolbar-height;
    background: $bg-color;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: $toolbar-zindex;

    .row{height: 100%;}
    .row > div{ //select all the columns
        height: 100%;
        border: 1px dashed royalblue;
    }

    #toolbar__music-thumb{
        display: flex;
        align-items: center;
        justify-content: center;

        div{
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        img{height: 100%;}
    }
}