//* global variables
$bg-color: #1b1b1b;
$main-color: #1e3f63;
$transition: .2s;
$main-font-family: "Astonpoliz", sans-serif;
$second-font-family: sans-serif;
$desactivated-text: #696969;
$text-hover-color: rgba($main-color, .3);

//* Icons
$icon-font-size: 3.2rem;

//* body
$body-bg-color: linear-gradient(to bottom, $main-color, $bg-color);

//* navbar variables
$nav-logo-font-size: 3.2rem;
$nav-height: 60px;
$navbar-zindex: 10;

//* Toolbar
$toolbar-height: 80px;
$toolbar-zindex: $navbar-zindex;

//* aside 
$aside-width: 220px;
$aside-zindex: 10;
$aside-behind-zindex: calc($aside-zindex - 1);
$aside-behind-bg-color: rgba(255, 255, 255, 0.561);
$aside-font-size: calc($nav-logo-font-size - 1.3rem);
$aside-separator-font-size: calc($nav-logo-font-size - .9rem);
$aside-bg-color: darken($main-color, 30%);
$aside-scrollbar-bg-color: lighten($bg-color, 10%);
$aside-padding-top: 1rem;
$aside-separator-color: lighten($main-color, 10%);
$aside-height: calc(100vh - $toolbar-height);

//* Loader Section
$loader-section-zindex: calc($aside-zindex - 2);
$loader-section-padding: 2rem;
$loader-section-scrollbar-bg-color: gray;


//? Browse Section --
$album-thumb-dimention: 175px;