#top-albums,
#top-playlists{
    padding: 1.2rem;
    margin-bottom: 1rem;
    
    @include container-scroll-bar();
    @include boxs-grid-view();
}

#top-songs{
    padding: 1.2rem;

    .section-title{
        margin-bottom: 2.4rem;
        font-family: $main-font-family;
    }

    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color $transition;
        margin-right: 1.3rem;
        list-style-type: none;
        padding: 1.2rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background: $text-hover-color;
            i{opacity: 1;}
        }

        .box{
            display: flex;
            padding: 0;
    
            &-thumb{
                min-width: 50px;
                max-width: 50px;
                min-height: 50px;
                max-height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                margin-right: 1.3rem;
                border-radius: 7px;
    
                img{height: 100%;}
            }
    
            &-name{
                font-family: $main-font-family;
                font-size: $aside-font-size;
                text-align: left;
                margin-bottom: .8rem;
                font-weight: 100;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
                min-width: 30px;
            }
            &-info{
                color: $desactivated-text;
                font-size: $aside-font-size - .3rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
                min-width: 93px;
                text-align: left;
            }
        }
        i{
            margin-right: 1rem;
            cursor: pointer;
            transition: $transition;
            opacity: 0;
            padding: 1rem;
            transform: rotateX(180deg);

            &:hover{
                color: $main-color;
            }
        }

        div:last-child{
            text-align: right;            
        }
    }
}

@media only screen and (max-width: 768px){
    #top-songs{
        li{
            margin-right: 0;
        }
        i{
            display: none;
        }
        div:last-child{
            text-align: center;
        }
    }
}